[Unit]
Description=CertChain Backend
After=network.target

[Service]
Type=simple
User=aguhh18
WorkingDirectory=/home/aguhh18/Documents/Skripsi-Projek-Penerbitan-Sertifikat-Berbasis-Blockhain-Polygon/BE skripsi
ExecStart=/usr/bin/node src/index.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target 